---
config:
  terminal_binary:     "/usr/bin/xfce4-terminal"
  browser_binary:      "/usr/bin/google-chrome"
  ssh-copy-id-binary: "/usr/bin/ssh-copy-id"
  log_file:            "easyconnect.log"

users:
  - joe:
    password: 
  - Joe.Butler:
    password:
    is_default: true

hosts:
  Local:
    - localhost
    - 127.0.0.1
  WorkMachines:
    Dev:
      - hostname001
      - hostname002
      - hostname003
      - hostname004
    Test:
      - 10.0.0.1
      - 10.0.0.2
      - 10.0.0.3
    Prod: 
      - ftppm516-lvuk-uk-p
      - ftppm520-lvuk-uk-p
      - ftppm515-lvuk-uk-p
      - ftppm519-lvuk-uk-p
      - ftppm517-lvuk-uk-p

