---
config:
  #
  # Binaries - These are the programs called to handle various actions
  #
  terminal_binary:     "/usr/bin/xfce4-terminal"
  browser_binary:      "/usr/bin/google-chrome"
  ssh-copy-id-binary:  "/usr/bin/ssh-copy-id"
  log_file:            "easyconnect.log"
  default_host_action: "Shell::open_ssh_terminal"
  default_user:        "joe"

# Create a list of users with their options. 
users:
  - joe:
    password: 
  - Joe.Butler:
    password:


#
#	A group can either contain other groups or a list of hosts. 
#
hosts:
  Local:
    - localhost
    - 127.0.0.1
  MadeUpApp:
    Dev:
      - dev01.app.name.com
      - dev02.app.name.com
      - dev03.app.name.com
      - dev04.app.name.com
    Test:
      - test01.app.name.com
      - test02.app.name.com
      - test03.app.name.com
      - test04.app.name.com
    Prod: 
      - prod01.app.name.com
      - prod02.app.name.com
      - prod03.app.name.com
      - prod04.app.name.com

